
<body>
    
    <h1>Volvo XC60 Polestar</h1>
    <p>
        <button routerLink= "/$/veiculos" type="button" class="btn btn-primary btn-lg">Voltar</button>
    </p>
    <p></p>
    <a id="a1" style="font-size: 25px;"> <strong>Informações sobre o veículo</strong></a>
    <p></p>
    <p> Representando os modelos híbridos, trazemos para você o XC60 Polestar. O SUV vem com a proposta 
        de transição da Volvo para a eletrificação total. Sendo um dos carros tecnológicos da marca sueca, conta com uma das tecnologias usadas em carros autônomos: a frenagem automática com visão noturna, além de um sistema inteligente de informação, 
        responsável por auxiliar com mais clareza e objetividade. 
        

    <p></p>
    <p>Com a tecnologia Plug-in Hybrid e um chassis envolvente, o XC60 Polestar Engineered é o SUV dinâmico 
        que combina eficiência com uma experiência de condução eletrificada.</p>
    <p> </p>
    <p>A motorização T8 híbrida possui 407hp de potência de 640N.m de torque, entregando uma performance ainda mais emocionante.  </p>

    <img style="width: 700px; height: 400px;"
     src="/assets/images/volv9.jpg">
    <img style="width: 700px; height: 400px;"
     src="/assets/images/xc.jpg">

     


    

</body>


