
<body>
    
    <h1> Tesla Model S</h1>
    <p></p>
    <a id="a1" style="font-size: 25px;"> <strong>Informações sobre o veículo</strong></a>
    <p></p>
    <p> Uma das marcas que se denomina como a idealizadora dos carros do futuro, a Tesla, e um dos seus modelos, o Model S. Com três motores elétricos, é o EV produzido em série mais rápido do mundo, com aceleração de 0 a 96km/h em aproximadamente 2 segundos. Esse modelo também traz um dos principais itens de condução semiautônoma, o controle de cruzeiro adaptativo.
        Entre os outros equipamentos de auxílio ao motorista, mudança de faixa automática, o dispositivo de estacionamento paralelo perpendicular apenas com um toque. O carro praticamente anda sozinho com o poderoso motor de 1115cv, podendo chegar a 320 km/h.
    <p></p>
    <p>Sobre as baterias de tração, o Tesla Model S Plaid possui uma melhor aerodinâmica, algo que permite que economia e velocidade mais impressionante sejam alcançados. A surpresa da apresentação foi uma bomba de calor modificada, 
        que atua na mecânica do elétrico para uma redistribuição mais eficiente da energia térmica. Ou seja, o motor do Tesla gera calor durante o funcionamento e pode ser usado tanto para aquecer os bancos do carro quanto para o desempenho do mesmo. E mais: a bomba de calor pode aumentar o alcance do novo Model S em 30% no inverno, assim como reduzir os custos de energia em até 50% “sem perder a eficiência”, conforme dito pelo CEO.</p>


    <img style="width: 700px; height: 450px;"
     src="/assets/images/Tesla.jpeg">
    <img style="width: 700px; height: 450px;"
     src="/assets/images/tesla1.jpg">

     


    

</body>
<footer >
    <p style="text-align: center;">&copy;Develoepd by João Victor S.</p> 
</footer>

