<nav class="navbar navbar-expand-lg navbar navbar-dark bg-primary">
  <a routerLink="/$" class="navbar-brand">Home <span class="sr-only">(Página atual)</span></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Alterna navegação">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a routerLink="/$/veiculos" routerLinkActive="active" class="nav-link">Veículos</a>
      </li>
      <li class="nav-item">
        <a routerLink='/$/veiculos/comprar' class="nav-link">Realizar Compra</a>
      </li>
    </ul>
  </div>
  <img routerLink='/$/dev$' class="nav-link" width="100" alt="NBS LOGO" src="/assets/images/nbs.png" />


</nav>