<body>

    <h1> Honda Clarity Fuel Cell</h1>
    <p></p>
    <p>
        <button routerLink="/$/veiculos" type="button" class="btn btn-primary btn-lg">Voltar</button>
    </p>
    <a id="a1" style="font-size: 25px;"> <strong>Informações sobre o veículo</strong></a>
    <p></p>
    <p> Apesar de sua produção encerrada, o Clarity Fuel Cell ainda se mantém relevante quando se trata de carros
        inteligentes. Com motor a hidrogênio,
        o automóvel é dotado de controle de cruzeiro adaptativo. Como todos os carros tecnológicos citados nessa lista,
        ele também poderia faltar um sistema de mitigação de evasão de pista,
        dispositivo de assistência de faixa e o sistema de freio automático para evitar colisões.
    <p></p>
    <p>O Clarity Fuel Cell é o primeiro veículo de 4 portas (Sedan) a células de combustível de produção em série do
        mundo a ter a motorização e as células de combustível alojadas no espaço por baixo do capot.
        O Clarity Fuel Cell vai estar disponível no Japão a partir do início de 2016. Depois, e ainda em 2016, irão ser
        dadas mais informações relativamente ao lançamento deste modelo na Europa.</p>
    <p> </p>
    <p>Apesar das dimensões compactas da motorização a células de combustível, as tecnologias empregues pela Honda
        asseguram performances de topo nesta nova pilha de células de combustível. Os separadores de canal de fluxo de
        onda oferecem agora mais potência, num formato ainda mais fino, graças à redução de 20% (1 mm) na espessura de
        cada célula.
        Estas inovações combinadas tornam a pilha de células de combustível 33% mais compacta do que a pilha instalada
        no FCX Clarity original.
        Uma melhoria impressionante porque, juntamente com isto, conseguiu-se aumentar a potência máxima do motor
        eléctrico para 130 kW (177 CV) e subir a densidade da potência em 60%, para 3,1 kW/L. </p>

    <img style="width: 700px; height: 450px;" src="/assets/images/hond.jpg">
    <img style="width: 700px; height: 400px;" src="/assets/images/honda.jpg">






</body>