<app-dev-bar></app-dev-bar>
<body>
    
    <h1> Local de desenvolvimento </h1>
    <p></p>
    <a id="a1" >Tecnologias Utilizadas</a>
    <p></p>
    <p id="p1">Seja bem vindo à pagina de desenvolvimento do site, nesse local será feito as alterações de produtos e a verificação das informações dos clientes que adiquiriam nosso produto.
    </p>
    <p></p>
    <p>Completando com as tecnologias que foram utilizadas pra o desenvolvimento de toda essa página:
    </p>
    <p><strong> Front-end: </strong> Utilizado o framework Angular e bootstrap juntamente com o typescript, o bootstrap é um framework que ajuda bastante em um belo design, oferecendo diversos componentes e com um ótimo estilo de site responsivo.</p>

    <a id="a1" >O que irá encontrar em nosso site?</a>
    <p></p>
    <p id="p1">
        Desde o mais simples software para sua concessionária até o mais avançado Painel de Gestão e Dashboards,
        temos os melhores carros com tecnologias de ponta que cabem no seu bolso, tudo isso se encontra na pagina de veículos e tecnologias

    </p>

    <img
    width="200px"
    style="margin: 10px;"
     src="/assets/images/boot.svg">
    <img
    width="200px"
    style="margin: 10px;"
     src="/assets/images/type.png">
    <img
    width="200px"
    style="margin: 10px;"
     src="/assets/images/angular.png">
    <img
    width="200px"

     src="/assets/images/js.png">
    <p></p>
     <footer>
         <p style="text-align: center;">&copy;Develoepd by João Victor S.</p> 
     </footer>



    

</body>
