<app-dev-bar>

</app-dev-bar>

<body>

    <h1> Local de desenvolvimento </h1>
    <p></p>
    <a id="a1">Tecnologias Utilizadas</a>
    <p></p>
    <p id="p1">Seja bem vindo à pagina de desenvolvimento do site, nesse local será feito as alterações de produtos e a verificação das informações dos clientes que adiquiriam nosso produto.
    </p>
    <p></p>
    <p>Completando com as tecnologias que foram utilizadas pra o desenvolvimento de toda essa página:
    </p>
    <p><strong> Front-end: </strong> Utilizado o framework Angular,bootstrap e Nodejs juntamente com as linguagens TypeScript e JavaScript, o bootstrap é um framework que ajuda bastante em um belo design, oferecendo diversos componentes e com um ótimo estilo
        de site responsivo, utilizado a biblioteca NgxMaskPage para utilizar mascaras nos inputs dos formulários; O NodeJs sem dúvida um dos melhores frameworks já visto, trazendo a possibilidade de rodar JavaScript e TypeScript fora do navegador-web,</p>

    <p></p>
    <p><strong>Back-end</strong> No Back-end foi utilizado a linguagem Java, utilizando as bibliotecas do framework SpringBot, fazendo uso do Hibernate que é um framework ORM junto com a interface JPA para a persistência de dados na Database e o framework
        Lombok para utilizar getters, setters, constructor e entre outros para criação de objetos, o banco de dados utilizado foi o MySQL;</p>




    <img width="200px" style="margin: 10px;" src="/assets/images/boot.svg">
    <img width="200px" style="margin: 10px;" src="/assets/images/type.png">
    <img width="200px" style="margin: 10px;" src="/assets/images/angular.png">
    <img width="200px" src="/assets/images/js.png">
    <p></p>

    <img width="800px" src="/assets/images/Hibernate.png">
    <p></p>

    <img width="300px" src="/assets/images/spring.jpg">


    <img width="300px" src="/assets/images/MySQL.png">
    <p></p>





</body>