<h2> Editar informações do Cliente</h2>

<hr />
<p><br></p>

<form #clientForm='ngForm' *ngIf='cliente' class="form-horizontal">
    <div class="col-md-6 offset-md-3">
        <div class="form-group">
            <label for="exampleInputName2" class="col-sm-2 control-label">Primeiro Nome</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" [(ngModel)]="cliente.name" required name='name' #clientName='ngModel' [ngClass]="{'is-invalid': clientName.invalid}">
            </div>
            <P></P>
        </div>
        <div class="form-group">
            <label for="exampleInputLastName2" class="col-sm-2 control-label">Sobrenome</label>
            <div class="col-sm-10">
                <input type="lastName" class="form-control" [(ngModel)]="cliente.last" required name='last' #clientLast='ngModel' [ngClass]="{'is-invalid': clientLast.invalid}">
            </div>
            <P></P>
        </div>
        <div class="form-group">
            <label for="inputCpf" class="col-sm-2 control-label">CPF</label>
            <div class="col-sm-10">
                <input type="cpf" mask="000.000.000-00" class="form-control" [(ngModel)]="cliente.cpf " required name='cpf' #clientCpf='ngModel' [ngClass]="{'is-invalid': clientCpf.invalid}">
            </div>
            <P></P>
        </div>
        <div class="form-group">
            <label for="date" class="col-sm-2 control-label">Data de Nascimento</label>
            <div class="col-sm-10">
                <input type="date" class="form-control" [(ngModel)]="cliente.birth" required name='birth' #clientBirth='ngModel' [ngClass]="{'is-invalid': clientBirth.invalid}">
            </div>
            <P></P>
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1" class="col-sm-2 control-label">Email</label>
            <div class="col-sm-10">
                <input type="email" class="form-control" [(ngModel)]="cliente.email" required name='email' #clientEmail='ngModel' [ngClass]="{'is-invalid': clientEmail.invalid}">
            </div>
            <P></P>
        </div>
        <div class="form-group">
            <label for="inputFone" class="col-sm-2 control-label">Número de Telefone</label>
            <div class="col-sm-10">
                <input type="text" prefix="+55 " mask="(00) 00000-0000" class="form-control" id="inputFone" [(ngModel)]="cliente.number" required name='email' #clientNumber='ngModel' [ngClass]="{'is-invalid': clientNumber.invalid}">
            </div>
            <P></P>
        </div>
        <div class="form-group">
            <label for="inputCity" class="col-sm-2 control-label">Cidade em que reside</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" [(ngModel)]="cliente.city" required name='city' #clientCity='ngModel' [ngClass]="{'is-invalid': clientCity.invalid}">
            </div>
        </div>
        <P></P>
        <div class="form-group">
            <label for="inputCity" class="col-sm-2 control-label">Estado em que reside</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" [(ngModel)]="cliente.state" required name='state' #clientState='ngModel' [ngClass]="{'is-invalid': clientState.invalid}">
            </div>
        </div>
        <div class="col-md-6 offset-md-3">
            <hr>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <div class="checkbox">
                        <label>
              <input type=checkbox required name="check" [ngModel]> Confirmar Atualização
            </label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button routerLink='/$/dev$/dbc/test' class="btn btn-secondary "> Retornar </button>
                    <button routerLink='/$/dev$/dbc' (click)="Att(cliente)" [disabled]="clientForm.invalid" type="button" class="btn btn-primary" style="margin: 10px;">Atualizar Dados</button>
                </div>
            </div>
        </div>
    </div>



</form>