
<h2> Carrinho</h2>

<hr/>

<form  >
    <!-- <div class = "form-group row"> 
        <label class= "col-sm-10 col-fr-label">Primeiro Nome: </label>
        <div class = "col-sm-10"> 
            <input  required name = 'name' #clientName= '' [ngClass]="{'is-invalid': clientName.invalid}" class= "form-control">
            
            <div class="invalid-feedback">
                <span> Primeiro nome é necessário! </span>
            </div>
        </div>
        <div class = "form-group row"> 
            <label class= "col-sm-10 col-fr-label">Primeiro Nome: </label>
            <div class = "col-sm-10"> 
                <input  required name = 'name' #clientLastName= '' [ngClass]="{'is-invalid': clientLastName.invalid}" class= "form-control">
                
                <div class="invalid-feedback">
                    <span>Sobrenome é necessário!</span>
                </div>
            </div>
            <div class = "form-group row"> 
                <label class= "col-sm-10 col-fr-label">CPF:</label>
                <div class = "col-sm-10"> 
                    <input  required name = 'name' #clientCpf= '' [ngClass]="{'is-invalid': clientCpf.invalid}" type= 'number' class= "form-control">
                    
                    <div class="invalid-feedback">
                        <span>CPF é necessário!</span>
                    </div>
                </div>
            <div class = "form-group row"> 
                <label class= "col-sm-10 col-fr-label">Número de telefone:</label>
                <div class = "col-sm-10"> 
                    <input  required name = 'name' #clientNumber= '' [ngClass]="{'is-invalid': clientNumber.invalid}"  class= "form-control">
                    
                    <div class="invalid-feedback">
                        <span>Número de telefone é necessário!</span>
                    </div>
                </div>
            <div class = "form-group row"> 
                <label class= "col-sm-10 col-fr-label">Data de Nascimento:</label>
                <div class = "col-sm-10"> 
                    <input  required name = 'name' #clientData= '' [ngClass]="{'is-invalid': clientData.invalid}" class= "form-control">
                    
                    <div class="invalid-feedback">
                        <span>Data de nascimento é necessário!</span>
                    </div>
                </div>
            <div class = "form-group row"> 
                <label class= "col-sm-10 col-fr-label">E-mail para contato:</label>
                <div class = "col-sm-10"> 
                    <input  required name = 'name' #clientData= '' [ngClass]="{'is-invalid': clientData.invalid}" class= "form-control">
                    
                    <div class="invalid-feedback">
                        <span>E-mail é necessário!</span>
                    </div>
                </div>

    <!-- <div class = "form-group row"> 
        <label class= "col-sm-10 col-fr-label">Price: </label>
        <div class = "col-sm-10"> 
            <input  required name = 'price' type="number" #coursePrice= 'ngModel'
              class= "form-control">
           
            <div class="invalid-feedback">
                <span>Course price is required!</span>
            </div>
        </div>
    </div>

    <div class = "form-group row"> 
        <label class= "col-sm-10 col-fr-label">Description: </label>
        <div class = "col-sm-10"> 
            <textarea  required name = 'description'  #courseDescript= 'ngModel' 
            [ngClass]="{'is-invalid': courseDescript.invalid}" class= "form-control"></textarea>
           
            <div class="invalid-feedback">
                <span>Course Description is required!</span>
            </div>
        </div>
    </div> -->
    
    <!-- <button [disabled]="courseForm.invalid" (click)="save()" class ="btn btn-primary "> Save </button> -->
    <button routerLink='' class ="btn btn-secondary "> Back </button> 
</form>