<app-nav-bar></app-nav-bar>

<h2> Carrinho</h2>

<hr />
<p><br></p>

<form #clientForm='ngForm' class="form-horizontal">
    <div class="form-group">
        <label for="exampleInputName2" class="col-md-6 offset-md-3">Primeiro Nome</label>
        <div class="col-md-6 offset-md-3">
            <input id="i1" type="text" class="form-control" [(ngModel)]="cliente.name" required name='name' #clientName='ngModel' [ngClass]="{'is-invalid': clientName.invalid}" placeholder="Ex: Marcio">
        </div>
    </div>
    <P></P>
    <div class="form-group ">
        <label for="exampleInputLastName2" class="col-md-6 offset-md-3">Sobrenome</label>
        <div class="col-md-6 offset-md-3">
            <input id="i1" type="lastName" class="form-control" [(ngModel)]="cliente.last" required name='last' #clientLast='ngModel' [ngClass]="{'is-invalid': clientLast.invalid}" placeholder="Ex: Da Silva">
        </div>
    </div>
    <P></P>
    <div class="form-group">
        <label for="inputCpf" class="col-md-6 offset-md-3">CPF</label>
        <div class="col-md-6 offset-md-3">
            <input id="i1" mask="000.000.000-00" type="cpf" class="form-control" [(ngModel)]="cliente.cpf " required name='cpf' #clientCpf='ngModel' [ngClass]="{'is-invalid': clientCpf.invalid}" placeholder="Ex: 029.093.343-89">
        </div>
    </div>
    <P></P>
    <div class="form-group">
        <label for="date" class="col-md-6 offset-md-3">Data de Nascimento</label>
        <div class="col-md-6 offset-md-3">
            <input id="i1" type="date" class="form-control" [(ngModel)]="cliente.birth" required name='birth' #clientBirth='ngModel' [ngClass]="{'is-invalid': clientBirth.invalid}" placeholder="Ex: 24/02/2000">
        </div>
    </div>
    <P></P>
    <div class="form-group">
        <label for="exampleInputEmail1" class="col-md-6 offset-md-3">Email</label>
        <div class="col-md-6 offset-md-3">
            <input id="i1" type="email" class="form-control" [(ngModel)]="cliente.email" required name='email' #clientEmail='ngModel' [ngClass]="{'is-invalid': clientEmail.invalid}" placeholder="Ex: malloc123@gmail.com">
        </div>
    </div>
    <P></P>
    <div class="form-group">
        <label for="exampleInputEmail1" class="col-md-6 offset-md-3">Número de Telefone</label>
        <div class="col-md-6 offset-md-3">
            <input id="i1" prefix="+55 " mask="(00) 00000-0000" type="numberPhone" class="form-control" [(ngModel)]="cliente.number" required name='number' #clientNumber='ngModel' [ngClass]="{'is-invalid': clientNumber.invalid}" placeholder="Ex: (65) 99207-9023">
        </div>
    </div>
    <P></P>
    <div class="form-group">
        <label for="inputCity" class="col-md-6 offset-md-3">Cidade em que reside</label>
        <div class="col-md-6 offset-md-3">
            <input id="i1" type="text" class="form-control" [(ngModel)]="cliente.city" required name='city' #clientCity='ngModel' [ngClass]="{'is-invalid': clientCity.invalid}" placeholder="Ex: Cuiabá">
        </div>
    </div>
    <P></P>
    <div class="form-group">
        <label for="inputCity" class="col-md-6 offset-md-3">Estado em que reside</label>
        <div class="col-md-6 offset-md-3">
            <input id="i1" type="text" class="form-control" [(ngModel)]="cliente.state" required name='state' #clientState='ngModel' [ngClass]="{'is-invalid': clientState.invalid}" placeholder="Ex: Mato-Grosso">
        </div>
    </div>
    <hr>
    <p><br></p>
    <div class="form-group row">
        <label class="col-md-6 offset-md-3">Nome do Veículo </label>
        <div class="col-md-6 offset-md-3">

            <input id="i2" class="form-control" [(ngModel)]="cliente.vehicle" required name='vehicle' #clientVehicle='ngModel' [ngClass]="{'is-invalid': clientVehicle.invalid}" type="nameVehicle" list="vehicle">
            <datalist id="vehicle">
          <option>{{veiculos.name}}</option>
        </datalist>

        </div>
    </div>


    <div class="form-group row">
        <label class="col-md-6 offset-md-3">Cor do Veículo</label>
        <div class="col-md-6 offset-md-3">
            <input id="i2" class="form-control" [(ngModel)]="cliente.color" required name='color' #clientColor='ngModel' [ngClass]="{'is-invalid': clientColor.invalid}" type="text" list="color">
            <datalist id="color">
        <option>Branco</option>
        <option>Preto</option>
        <option>Prata</option>
        <option>Cinza</option>
      </datalist>
        </div>
    </div>
    <P></P>
    <div class="col-md-6 offset-md-3">
        <label for="disabledTextInput">Preço do Veículo</label>
        <input id="i2" [(ngModel)]="veiculos.price" required name='price' type="text" class="form-control" disabled>
    </div>



    <P></P>
    <p><br></p>
    <div class="form-group">
        <label for="inputCity" class="col-md-6 offset-md-3">Forma de pagamento:</label>

    </div>
    <p><br></p>
    <div class="col-md-6 offset-md-3">
        <div class="radio">
            <label>
        <input [(ngModel)]="cliente.payment" required name='payment' #clientPayment='ngModel'
          [ngClass]="{'is-invalid': clientPayment.invalid}" type="radio" name="optionsRadios" id="optionsRadios1"
          value="Pix" checked>
        Pix
      </label>
        </div>
        <div class="radio">
            <label>
        <input [(ngModel)]="cliente.payment" required name='payment' #clientPayment='ngModel'
          [ngClass]="{'is-invalid': clientPayment.invalid}" type="radio" name="optionsRadios" id="optionsRadios2"
          value="Transferência Bancária">
        Transferência Bancária
      </label>
        </div>
        <div class="radio ">
            <label>
        <input [(ngModel)]="cliente.payment" required name='payment' #clientColor='ngModel'
          [ngClass]="{'is-invalid': clientColor.invalid}" type="radio" name="optionsRadios" id="optionsRadios3"
          value="cccb">
        Cartão de crédito ou débito
      </label>
        </div>
        <hr>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <div class="checkbox">
                    <label>
            <input type=checkbox required name="check" [ngModel]> Eu li e concordo com os termos
          </label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button routerLink='/$/veiculos' class="btn btn-secondary "> Retornar </button>
                <button (click)="confirm()" [disabled]="clientForm.invalid" type="button" class="btn btn-primary" style="margin: 10px;">Confirmar Compra</button>
            </div>
        </div>
    </div>




</form>