
<h2> Carrinho</h2>

<hr/>
<p><br></p>

<form class="form-horizontal">
    <div class="form-group">
      <label for="exampleInputName2" class="col-sm-2 control-label">Primeiro Nome</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="exampleInputName2"  placeholder="Ex: Marcio">
      </div>
      <P></P>
    </div>
    <div class="form-group">
      <label for="exampleInputLastName2" class="col-sm-2 control-label">Sobrenome</label>
      <div class="col-sm-10">
        <input type="lastName" class="form-control" id="exampleInputName2"  placeholder="Ex: Da Silva">
      </div>
      <P></P>
    </div>
    <div class="form-group">
      <label for="inputCpf" class="col-sm-2 control-label">CPF</label>
      <div class="col-sm-10">
        <input type="cpf" class="form-control" id="inputCpf2" placeholder="Ex: 029.093.343-89">
      </div>
      <P></P>
    </div>
    <div class="form-group">
      <label for="date" class="col-sm-2 control-label">Data de Nascimento</label>
      <div class="col-sm-10">
        <input type="date" class="form-control" id="inputData" placeholder="Ex: 24/02/2000">
      </div>
      <P></P>
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1" class="col-sm-2 control-label">Email</label>
      <div class="col-sm-10">
        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Ex: malloc123@gmail.com">
      </div>
      <P></P>
    </div>
    <div class="form-group">
      <label for="inputCity" class="col-sm-2 control-label">Cidade em que reside</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="inputCity" placeholder="Ex: Cuiabá">
      </div>
    </div>
    <P></P>
    <div class="form-group">
      <label for="inputCity" class="col-sm-2 control-label">Estado em que reside</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="inputCity" placeholder="Ex: Mato-Grosso">
      </div>
    </div>
    <p></p>
    <div class="form-group">
        <label for="inputCity" class="col-sm-2 control-label">Forma de pagamento:</label>
        <div class="col-sm-10">
        </div>
    </div>
    <p></p>
    <div class="radio">
        <label>
            <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
            Pix
        </label>
    </div>
    <div class="radio">
        <label>
            <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
           Transferência Bancária
        </label>
    </div>
    <div class="radio ">
        <label>
            <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3" >
            Cartão de crédito ou débito
        </label>
    </div>
    <hr>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <div class="checkbox">
            <label>
              <input type="checkbox"> Eu li e concordo com os termos 
            </label>
          </div>
        </div>
      </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button routerLink='/veiculos' class ="btn btn-secondary "> Retornar </button> 
        <button type="button" class="btn btn-primary" style="margin: 10px;">Confirmar Compra</button>
      </div>
    </div>
</form>
<footer>
  <p>&copy;Develoepd by João Victor S.</p> 
</footer>
