<body>
    
    <h1> Audi A8</h1>
    <p></p>
    <p>
        <button routerLink= "/veiculos" type="button" class="btn btn-primary btn-lg">Voltar</button>
    </p>
    <a id="a1" style="font-size: 25px;"> <strong>Informações sobre o veículo</strong></a>
    <p></p>
    <p id="p1">Um dos destaques quando se fala de carro autônomo é o Audi A8. O veículo traz uma quantidade gigantesca de tecnologias e ferramentas automatizadas, além de ter piloto automático adaptativo. Aqui vão algumas das funcionalidades dessa máquina do futuro:</p>

       <p> Assistente de direção adaptável;</p>
        
       <p> Reconhecimento de sinais de trânsito baseado em um sistema de câmera;</p>
        
       <p> Auxílio de estacionamento;</p>
        
       <p>Função de orientação da pista reconhecendo as marcações de faixa, veículos nas faixas ao lado e veículo a frente;</p>
        
       <p>Reconhece sinais/placas de trânsito através de câmeras;</p>
        
       <p> Assistente de frenagem autônoma (se uma colisão frontal iminente for detectada, o sistema avisa o motorista de forma óptica, acústica e tátil e se necessário, pode iniciar a assistência de frenagem ou a desaceleração total para reduzir a velocidade ou evitar uma colisão em certas circunstâncias);</p>
        
       <p> Pedestres e ciclistas podem ser reconhecidos até cerca de 85 km.</p>
        
       <p> Assistente de eficiência, ou seja, o próprio veículo identifica e avisa ao motorista quais as melhores formas de economizar combustível</p>
        
        <p>Assistente de evasão. Em situações em que o veículo identifica a iminência de uma colisão com algum obstáculo, ele avisa e auxilia o motorista a desviar.</p>
    <p></p>


    <img style="width: 700px; height: 500px;"
     src="/assets/images/Audi.jpg">
    <img style="width: 700px; height: 500px;"
     src="/assets/images/audi2.jpg">

     


    

</body>

