<body>

    <h1>Toyota Mirai </h1>
    <p></p>
    <p>
        <button routerLink="/$/veiculos" type="button" class="btn btn-primary btn-lg">Voltar</button>
    </p>
    <a id="a1" style="font-size: 25px;"> <strong>Informações sobre o veículo</strong></a>
    <p></p>
    <p> O Toyota Mirai é um dos poucos carros de produção movidos a hidrogênio.
        Bom, mas como exatamente isso funciona? O carro em si é elétrico,
        mas utiliza hidrogênio como combustível base.

    <p></p>
    <p>Ao contrário dos carros a combustão, o Mirai, não solta nada além de vapor de água
        por seu cano de descarga, além de possuir em si filtros de admissão que limpam o
        ar por onde quer que o carro passe. Ou seja, além do próprio
        carro não contribuir com a poluição das cidades, ele limpa o ar dos locais onde está.</p>
    <p> </p>
    <p>Assim como alguns automóveis inteligentes, é equipado com sistema de manutenção de faixas, além de apresentar uma
        frenagem automática que reconhece pedestres.
        Definitivamente um dos carros tecnológicos mais ecológicos já criados. </p>

    <img style="width: 700px; height: 400px;" src="/assets/images/toyot.jpg">
    <img style="width: 700px; height: 400px;" src="/assets/images/toyota1.jpg">






</body>