<app-nav-bar></app-nav-bar>

<body>

    <h1> Seja bem vindo a NBS </h1>
    <p></p>
    <a id="a1">Um pouco sobre a empresa</a>
    <p></p>
    <p id="p1">Estamos no mercado desde os anos 2000, começamos com programação em retrogames,
        nos aprofundando cada vez mais em desenvolvimento e programação, partindo para outros áres(Progamção
        empresarial),
        por muito tempo aplicavamos nosso conhecimento em pequenos negócios E-commerce, até que
        em certo momento de nossa jornada recebemos a oportunidade de expandir nosso até então
        pequeno negócio para trabalhar em conjunto com concessionárias do estado de Mato-Grosso, nosso
        papel no começo era somente desenvolver softwares para essas concessionárias com objetivo de simplificar
        e automatizar diversos problemas do dia dia, e cada vez mais inovar a tecnologia dos veículos. Nos
        dias de hoje além de desenvolvermos Softwares, realizamos a venda de alguns véiculos com tecnologia de ponta de
        nossas empresas parceiras.
    </p>
    <p></p>

    <a id="a1">O que irá encontrar em nosso site?</a>
    <p></p>
    <p id="p1">
        Desde o mais simples software para sua concessionária até o mais avançado Painel de Gestão e Dashboards,
        temos os melhores carros com tecnologias de ponta que cabem no seu bolso, tudo isso se encontra na pagina de
        veículos e tecnologias

    </p>
    <p></p>
    <img src="/assets/images/tec.jpg">
    <p></p>





</body>