<app-dev-bar> </app-dev-bar>
<h1 >Customer database and database construction</h1>
<p></p>
<a  routerLink="/dev$/dbc/test" class="nav-link"  style="margin: 10px;" class="btn btn-info" >List customers</a>
<p></p>


<h3 style="text-align: center;">DATABASE PROJECT_NBS(BANCO DE DADOS PROJECT_NBS)</h3>
<table class="table table-bordered">
  <thead>
       
<tr>
    <th>TABLE(TABELA)</th>
    <td>CLIENTES</td>
</tr>
<tr>
    <th>COLUMNS(COLUNAS) </th>
    <td>id,name,last,birth,CPF, email, city, state,vehicle, color, payment</td>
</tr>
<tr>
    <th>COLUNAS TRADUZIDAS </th>
    <td>Idade;Primeiro nome;Sobre nome; Data de nascimento; CPF; E-mail; Cidade; Estado; Nome do veículos; Cor do veículo; Forma de pagamento</td>
</tr>
<tr>
    <th>REALIZAR BUSCAS NO DATABASE</th>
    <td>SELECT * FROM project_nbs.clientes / Um exemplo por coluna específica: SELECT payment FROM project_nbs.clientes</td>

</tr>

    </thead>
</table>





