<body>
    <p><br><br><br><br></p>
    <p><br><br><br><br><br></p>


    <div class="container">
        <div class="card card-container">
            <img id="profile-img" class="profile-img-card" src="/assets/images/dev.gif" />
            <p id="profile-name" class="profile-name-card"></p>
            <form class="form-signin">
                <input id="nome" type="user" class="form-control" [(ngModel)]="user.name" required name='name' #userName='ngModel' [ngClass]="{'is-invalid': userName.invalid}">
                <p></p>
                <input id="senha" type="password" class="form-control" [(ngModel)]="user.password" required name='last' #userPassword='ngModel' [ngClass]="{'is-invalid': userPassword.invalid}">

                <p><br></p>
            </form>
            <img (click)="login()" width="400" alt="Tec" src="/assets/images/tec2.jpg" />

        </div>
    </div>
    <p><br><br><br><br></p>
    <p><br><br><br><br></p>
    <p><br><br><br><br></p>
    <p><br><br><br><br></p>
    <p><br><br><br><br></p>

</body>