<form #clientForm='ngForm' *ngIf="user" class="form-horizontal">
    <div class="form-group">
      <label for="exampleInputName2" class="col-md-6 offset-md-4">User</label>
      <div class="col-md-6 offset-md-4">
        <input style="width: 400px ;" type="text" class="form-control" [(ngModel)]="user.name" required name='name'
          #userName='ngModel' [ngClass]="{'is-invalid': userName.invalid}">
      </div>
  
      <P></P>
    </div>
    <div class="form-group ">
      <label for="exampleInputLastName2" class="col-md-6 offset-md-4">Password</label>
      <div class="col-md-6 offset-md-4">
        <input style="width: 400px ;" type="password" class="form-control" [(ngModel)]="user.password" required name='last'
          #userPassword='ngModel' [ngClass]="{'is-invalid': userPassword.invalid}" >
      </div>
      <P></P>
    <div class="form-group">
      <div class="col-md-6 offset-md-4">
        <img (click)="login()"  width="400" alt="Tec" src="/assets/images/tec2.jpg" />
      </div>
    </div>
